.flashcard {
    width: 100px;
    height: 100px;
    background-color:white;
    border-color: black;
    border: 2px;
    border-style: double;
        position: absolute;
    right: 500px;
}

.next-button {
    position: relative;
    left: 100px;
    width: 200px;
    height: 200px;
}