
.login-form-box {
font-size: 30px;

}

.login-form {
font-size: 30px;

}

.session-submit {
font-size: 30px;
}

.login-input {
font-size: 30px;
}

.login-form-container {
background-color: lightblue;
font-family: 'Allerta Stencil', sans-serif;

}

.app-name {
    font-size: 80px;
font-family: 'Allerta Stencil', sans-serif;
background-color: green;
}