<!DOCTYPE html>
<html>
  <head>
    <title>highARglyphs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body className="body">
    <div className="background-container">
      <div className="background">
    <%= yield %>
      </div>
    </div>
  </body>
</html>
